[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
selenium = "*"
chromedriver-binary = "*"
gunicorn = "*"
django_heroku = "*"
dj-database-url = "*"
pandas = "~=0.24.2"
lxml = "*"
psycopg2-binary = "*"
rq = "*"
redis = "*"
django-pandas = "*"

[requires]
python_version = "3.7"
