[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "*"
selenium = "*"
chromedriver-binary = "*"
gunicorn = "*"
django_heroku = "*"
dj-database-url = "*"
pandas = "~=0.24.2"
lxml = "*"
psycopg2-binary = "*"
rq = "*"
redis = "*"
django-pandas = "*"
devtools = "*"
requests = "*"
beautifulsoup4 = "*"
openpyxl = "*"
livereload = "*"
webdriver-manager = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
