{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- Basic -->

<head>
   <meta charset="utf-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Restaurant-Media-Scraping</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="icon" href="{% static 'favicon.ico' %}">
   <!-- <link rel="apple-touch-icon" href="#" /> -->
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
   <!-- Pogo Slider CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/pogo-slider.min.css' %}" />
   <!-- Site CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
   <!-- Responsive CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
   <!-- Custom CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
</head>

<body id="about" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
   <!-- LOADER -->
   <!-- <div id="preloader">
      <div class="loader">
         <img src="{% static "images/loader.gif" %}" alt="#" />
      </div>
   </div> -->
   <!-- END LOADER -->
   <div class="wrapper">
      <nav id="sidebar">
         <div class="menu_section">
            <ul>
               <!-- <li><a href="index.html">Home</a></li>
               <li><a href="about.html">About</a></li>
               <li><a href="services.html">Services</a></li>
               <li><a href="contact.html">Contact us</a></li> -->
            </ul>
         </div>
      </nav>
      <div id="content">
         <!-- Start header -->
         <header class="top-header">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <div class="logo_main">
                        <!-- <a href="index.html"> -->
                           <h2>Web媒体データ取得</h2>
                        <!-- </a> -->
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <img src="{% static "images/menu_icon.png" %}"></button>
                  </div>
               </div>
            </div>
         </header>
         <!-- End header -->
         <!-- Start Banner -->

         {% block content %}


         <!-- section -->
         <div class="section about_section layout_padding dash_bg">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="full">
                        <div class="heading_main text_align_center">
                           <h2>店舗選択</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                        <div class="full icon">
                           <!-- <img class="default-block" src="{% static "images/icon_1.png" %}" alt="#" /> -->
                           <!-- <img class="default-none" src="{% static "images/icon_1w.png" %}" alt="#" /> -->
                        </div>
                        <div class="full">
                           <h4>Fes</h4>
                        </div>
                        <div class="full">
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                        <div class="full icon">
                           <!-- <img class="default-block" src="{% static "images/icon_2.png" %}" alt="#" /> -->
                           <!-- <img class="default-none" src="{% static "images/icon_2w.png" %}" alt="#" /> -->
                        </div>
                        <div class="full">
                           <h4>罠　一目</h4>
                        </div>
                        <div class="full">
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <a href="{% url 'grg_gn_sp:garage' %}">
                        <div class="full feature_box">
                           <div class="full icon">
                              <!-- <img class="default-block" src="{% static "images/icon_3.png" %}" alt="#" /> -->
                              <!-- <img class="default-none" src="{% static "images/icon_3w.png" %}" alt="#" /> -->
                           </div>
                           <div class="full">
                              <h4>Garage</h4>
                           </div>
                           <div class="full">
                           </div>
                        </div>
                     </a>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                     <div class="full feature_box">
                        <div class="full icon">
                           <!-- <img class="default-block" src="{% static "images/icon_4.png" %}" alt="#" /> -->
                           <!-- <img class="default-none" src="{% static "images/icon_4w.png" %}" alt="#" /> -->
                        </div>
                        <div class="full">
                           <h4>灯籠</h4>
                        </div>
                        <div class="full">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         {% endblock content %}

         <!-- end section -->
         <!-- section -->

         <!-- end section -->


         <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
         <!-- ALL JS FILES -->
         <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
         <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
         <!-- ALL PLUGINS -->
         <script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
         <script type="text/javascript" src="{% static "js/jquery.pogo-slider.min.js" %}"></script>
         <script type="text/javascript" src="{% static "js/slider-index.js" %}"></script>
         <script type="text/javascript" src="{% static "js/smoothscroll.js" %}"></script>
         <script type="text/javascript" src="{% static "js/form-validator.min.js" %}"></script>
         <script type="text/javascript" src="{% static "js/contact-form-script.js" %}"></script>
         <script type="text/javascript" src="{% static "js/isotope.min.js" %}"></script>
         <script type="text/javascript" src="{% static "js/images-loded.min.js" %}"></script>
         <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
         <!-- End Google Map -->
         <!-- <script>
         $(document).ready(function() {
           $('#sidebarCollapse').on('click', function() {
             $('#sidebar, #content').toggleClass('active');
             $('.collapse.in').toggleClass('in');
             $('a[aria-expanded=true]').attr('aria-expanded', 'false');
           });
         });
      </script> -->
         <!-- google map js -->
         <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script> -->
         <!-- end google map js -->
</body>

</html>