{% extends 'scr/index.html' %}
{% load static %}

{% block head %}
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo_main">
                    <!-- <a href="index.html"> -->
                    <h2>Web媒体データ取得</h2>
                    <!-- </a> -->
                </div>
            </div>
            <form action="{% url 'scraping:chart' store=store media=media %}" method="GET">
                <input type="submit" name="move" value='before'>
                <select name="q" >
                    <option value="{{date}}">{{date}}</option>
                </select>
                <input type="submit" name="move" value='after'>
            </form>
            
        </div>
    </div>
</header>
{% endblock head %}

{% block content %}



<canvas id='chart' height="120"></canvas>
<canvas id='chart2' height="120"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    const list = [];
    {% for i in xticks %}
    list.push("{{i}}")
    {% endfor %}

    new Chart(document.getElementById("chart"), {
        type: "line",
        data: {
            labels: list,
            datasets: [{

                label: "合計PV {{total_1}}",
                data: {{ total }},
                borderColor: ["rgb(00, 00, 00)"],
                lineTension: 0,
                fill: false,
                // borderWidth:
            }, 
            {
                label: '{{data2_name}} {{total_2}}',
                data: {{ data2 }},
                borderColor: ["rgb(00, 80, 255)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },

            ],
        },
        options: {
            title: {
                display: true,
                text: '{{store}}:{{media}}'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 1000,
                        stepSize: 100,
                    },

                }],
            },
        },
    });


    const list_d = [];
    {% for i in xticks %}
    list_d.push("{{i}}")
    {% endfor %}

    new Chart(document.getElementById("chart2"), {
        type: "line",
        data: {
            labels: list_d,
            datasets: [

            {
                label: '{{data3_name}} {{total_3}}',
                data: {{ data3 }},
                borderColor: ["rgb(00, 255, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },
            {
                label: '{{data4_name}} {{total_4}}',
                data: {{ data4 }},
                borderColor: ["rgb(255, 00, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },

            {
                label: '{{data5_name}} {{total_5}}',
                data: {{ data5 }},
                borderColor: ["rgb(200, 200, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },

                    ],
                },
                options: {
                    title: {
                    display: true,
                    text: ''
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 100,
                                // stepSize: 10,
                            },

                        }],
            },

                }
    });
</script>
{% endblock content %}