{% extends 'scr/index.html' %}
{% load static %}


{% block content %}

<canvas id='chart' height="120"></canvas>
<canvas id='chart2' height="120"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    const list = [];
    {% for i in xticks %}
    list.push("{{i}}")
    {% endfor %}

    new Chart(document.getElementById("chart"), {
        type: "line",
        data: {
            labels: list,
            datasets: [{

                label: "合計PV",
                data: {{ total }},
                borderColor: ["rgb(00, 00, 00)"],
                lineTension: 0,
                fill: false,
                // borderWidth:
            }, 
            {
                label: '{{data2_name}}',
                data: {{ data2 }},
                borderColor: ["rgb(00, 80, 255)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },
            {
                label: '{{data3_name}}',
                data: {{ data3 }},
                borderColor: ["rgb(00, 255, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },
            {
                label: '{{data4_name}}',
                data: {{ data4 }},
                borderColor: ["rgb(255, 00, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            }, 

            ],
        },
        options: {
        title: {
            display: true,
            text: '{{store}}:{{media}}'
            },
            scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 25000,
                            // stepSize: ,
                        },

                    }],
                },
        }
    });


    const list_d = [];
    {% for i in xticks %}
    list_d.push("{{i}}")
    {% endfor %}

    new Chart(document.getElementById("chart2"), {
        type: "line",
        data: {
            labels: list_d,
            datasets: [
            {
                label: '{{data5_name}}',
                data: {{ data5 }},
                borderColor: ["rgb(200, 200, 00)"],
                lineTension: 0,
                fill: false,
                        // borderWidth:
            },

                    ],
                },
            options: {
                title: {
                    display: true,
                    text: '{{store}}{{data5_name}}'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 150,
                            // stepSize: 150,
                        },

                    }],
                },
        }
    });
</script>
{% endblock content %}