{% extends 'scr/index.html' %}
{% load static %}


{% block head %}

{% endblock head %}


{% block content %}
<center>


    <form action="{% url 'scraping:gn_sp' %}" method="GET">ぐるなび
        <label><input type="checkbox" name="fes" value="fes">FES</label>
        <label><input type="checkbox" name="garage" value="garage">Garage</label>
        <label><input type="checkbox" name="tourou" value="tourou">灯篭</label>
        <label><input type="checkbox" name="wanaichi" value="wanaichi">罠一目</label>
        <label><input type="checkbox" name="wananakame" value="wananakame">罠中目黒</label>
        <select name="start_year">
            {% if start_year %}
            <option value="{{start_year}}">{{start_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="start_month">
            {% if start_month %}
            <option value="{{start_month}}">{{start_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>から
        <select name="end_year">
            {% if end_year %}
            <option value="{{end_year}}">{{end_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="end_month">
            {% if end_month %}
            <option value="{{end_month}}">{{end_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>
        <button type="submit" class="btn btn-dark">送信</button>
    </form>



    <form action="{% url 'scraping:hp_sp' %}" method="GET">ホットペッパー
        <label><input type="checkbox" name="fes" value="fes">FES</label>
        <label><input type="checkbox" name="garage" value="garage">Garage</label>
        <label><input type="checkbox" name="tourou" value="tourou">灯篭</label>
        <label><input type="checkbox" name="wanaichi" value="wanaichi">罠一目</label>
        <label><input type="checkbox" name="wananakame" value="wananakame">罠中目黒</label>
        <select name="start_year">
            {% if start_year %}
            <option value="{{start_year}}">{{start_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="start_month">
            {% if start_month %}
            <option value="{{start_month}}">{{start_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>から
        <select name="end_year">
            {% if end_year %}
            <option value="{{end_year}}">{{end_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="end_month">
            {% if end_month %}
            <option value="{{end_month}}">{{end_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>
        <button type="submit" class="btn btn-dark">送信</button>
    </form>





    <form action="{% url 'scraping:tb_sp' %}" method="GET">食べログ
        <label><input type="checkbox" name="fes" value="fes">FES</label>
        <label><input type="checkbox" name="garage" value="garage">Garage</label>
        <label><input type="checkbox" name="tourou" value="tourou">灯篭</label>
        <label><input type="checkbox" name="wanaichi" value="wanaichi">罠一目</label>
        <label><input type="checkbox" name="wananakame" value="wananakame">罠中目黒</label>
        <select name="start_year">
            {% if start_year %}
            <option value="{{start_year}}">{{start_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="start_month">
            {% if start_month %}
            <option value="{{start_month}}">{{start_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>から
        <select name="end_year">
            {% if end_year %}
            <option value="{{end_year}}">{{end_year}}</option>
            {% endif %}
            <option value="2021">2021年</option>
            <option value="2020">2020年</option>
            <option value="2019">2019年</option>
        </select>
        <select name="end_month">
            {% if end_month %}
            <option value="{{end_month}}">{{end_month}}</option>
            {% endif %}
            <option value="12">12月</option>
            <option value="11">11月</option>
            <option value="10">10月</option>
            <option value="09">9月</option>
            <option value="08">8月</option>
            <option value="07">7月</option>
            <option value="06">6月</option>
            <option value="05">5月</option>
            <option value="04">4月</option>
            <option value="03">3月</option>
            <option value="02">2月</option>
            <option value="01">1月</option>
        </select>
        <button type="submit" class="btn btn-dark">送信</button>
    </form>

    <form action="{% url 'scraping:latest_all' %}">
        <input type="submit" value="ぜんぶ">
    </form>






</center>
{% endblock content %}