{% extends 'scr/base.html' %}
{% load static %}


{% block head %}
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo_main">
                    <h2>
                        <a href="{% url 'scraping:index' %}">店舗選択へ</a>
                    </h2>
                </div>
            </div>
            <div class="col-sm-6">

                {% if fes_query %}
                <p>{{fes_query}}</p>
                {% endif %}


                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <img src="{% static "images/menu_icon.png" %}"></button>
                <form action="{% url 'scraping:fes_hp_sp_get' %}" method="GET" name="w">
                    <input type="submit">
                    <select name="example">
                        <option value="サンプル1">サンプル1</option>
                        <option value="サンプル2">サンプル2</option>
                        <option value="サンプル3">サンプル3</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</header>

{% endblock head %}

{% block content %}

<div class="section about_section layout_padding dash_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2>媒体選択 FES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">

                    </div>
                    <div class="full">
                        <a href="{% url 'scraping:fes_gn_sp' %}">

                            <h4>ぐるなび</h4>
                        </a>
                        <form action="{% url 'scraping:fes_gn_sp_get' %}" method="GET">
                            <input id="datepicker" type="text" name="q" value="年月選択">
                            <input type="submit">
                            <script src="{% static 'js/datepicker.js' %}"></script>

                        </form>
                    </div>
                    <div class="full">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <!-- <img class="default-block" src="{% static "images/icon_2.png" %}" alt="#" /> -->
                        <!-- <img class="default-none" src="{% static "images/icon_2w.png" %}" alt="#" /> -->
                    </div>
                    <div class="full">
                        <a href="{% url 'scraping:fes_hp_sp' %}">

                            <h4>HotPepper</h4>
                        </a>
                        <form action="{% url 'scraping:fes_hp_sp_get' %}" method="GET">
                            <input id="datepicker2" type="text" name="q" value="年月選択">
                            <input type="submit">
                            <script src="{% static 'js/datepicker.js' %}"></script>

                        </form>
                    </div>
                    <div class="full">
                    </div>
                </div>
            </div>
            <!-- <a href="{% url 'scraping:fes_hp_sp_get' %}">HPげっと</a> -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                <div class="full feature_box">
                    <div class="full icon">
                        <!-- <img class="default-block" src="{% static "images/icon_3.png" %}" alt="#" /> -->
                        <!-- <img class="default-none" src="{% static "images/icon_3w.png" %}" alt="#" /> -->
                    </div>
                    <div class="full">
                        <a href="{% url 'scraping:fes_tb_sp' %}">
                            <h4>食べログ</h4>
                        </a>
                        <form action="{% url 'scraping:fes_tb_sp_get' %}" method="GET">
                            <input id="datepicker3" type="text" name="q" value="年月選択">
                            <input type="submit">
                            <script src="{% static 'js/datepicker.js' %}"></script>
                        </form>
                    </div>
                    <div class="full">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}