{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Restaurant-Media-Scraping</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>


<body id="about" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    {% block head %}
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo_main">
                        <h2>Web媒体データ取得</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'scraping:dev' %}">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <img src="{% static " images/menu_icon.png" %}"></button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% endblock head %}

    {% block content %}












    <div class="store">

        <h4>Fes</h4>
        <div class="elem">
            <h4>ぐるなび</h4>
            <form action="{% url 'scraping:download_excel' store='fes' media='gn' %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='fes' media='gn' %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <a href="{% url 'scraping:chart_weekly' store='fes' media='gn' %}">週間</a>
        </div>
        <div class="elem">
            <h4>HotPepper</h4>
            <form action="{% url 'scraping:download_excel' store='fes' media='hp'  %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='fes' media='hp' %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <a href="{% url 'scraping:chart_weekly' store='fes' media='hp' %}">週間</a>
        </div>
        <div class="elem">
            <h4>食べログ</h4>
            <form action="{% url 'scraping:download_excel' store='fes' media='tb' %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='fes' media='tb' %}" method="GET">
                <select name="q">
                    {% for span in span_list_fes %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <a href="{% url 'scraping:chart_weekly' store='fes' media='tb' %}">週間</a>
        </div>
        <div class="elem">
            <form action="{% url 'scraping:chart_GMB' store='fes' %}" method="GET">
                <h4>GMB</h4>
                <input type="submit" value="GMB">
            </form>
        </div>
    </div>


    <div class="store">

        <h4>Garage</h4>
        <div class="elem">

            <h4>ぐるなび</h4>
            <form action="{% url 'scraping:download_excel' store='garage' media='gn' %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='garage' media='gn' %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
            <a href="{% url 'scraping:chart_weekly' store='garage' media='gn' %}">週間</a>
        </div>
        <div class="elem">

            <h4>HotPepper</h4>
            <form action="{% url 'scraping:download_excel' store='garage' media='hp'  %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='garage' media='hp' %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
            <a href="{% url 'scraping:chart_weekly' store='garage' media='hp' %}">週間</a>
        </div>
        <div class="elem">

            <h4>食べログ</h4>
            <form action="{% url 'scraping:download_excel' store='garage' media='tb' %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store='garage' media='tb' %}" method="GET">
                <select name="q">
                    {% for span in span_list_garage %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>
            <a href="{% url 'scraping:chart_weekly' store='garage' media='tb' %}">週間</a>
        </div>
        <div class="elem">

            <form action="{% url 'scraping:chart_GMB' store='garage' %}" method="GET">
                <h4>GMB</h4>
                <input type="submit" value="GMB">
            </form>
        </div>
    </div>

    <div class="store">


        <h4>灯籠</h4>
        <h4>ぐるなび</h4>
        <form action="{% url 'scraping:download_excel' store='tourou' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='tourou' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='tourou' media='gn' %}">週間</a>
        <h4>HotPepper</h4>
        <form action="{% url 'scraping:download_excel' store='tourou' media='hp'  %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='tourou' media='hp' %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='tourou' media='hp' %}">週間</a>
        <h4>食べログ</h4>
        <form action="{% url 'scraping:download_excel' store='tourou' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='tourou' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_tourou %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='tourou' media='tb' %}">週間</a>
        <form action="{% url 'scraping:chart_GMB' store='tourou' %}" method="GET">
            <h4>GMB</h4>
            <input type="submit" value="GMB">
        </form>
    </div>

    <div class="store">
        <h4>罠　一目</h4>
        <h4>ぐるなび</h4>
        <form action="{% url 'scraping:download_excel' store='wanaichi' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wanaichi' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wanaichi' media='gn' %}">週間</a>
        <h4>HotPepper</h4>
        <form action="{% url 'scraping:download_excel' store='wanaichi' media='hp'  %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wanaichi' media='hp' %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wanaichi' media='hp' %}">週間</a>
        <h4>食べログ</h4>
        <form action="{% url 'scraping:download_excel' store='wanaichi' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wanaichi' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_wanaichi %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wanaichi' media='tb' %}">週間</a>
        <form action="{% url 'scraping:chart_GMB' store='wanaichi' %}" method="GET">
            <h4>GMB</h4>
            <input type="submit" value="GMB">
        </form>
    </div>
    <div class="store">

        <h4>罠　中目罠</h4>
        <h4>ぐるなび</h4>
        <form action="{% url 'scraping:download_excel' store='wananakame' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wananakame' media='gn' %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wananakame' media='gn' %}">週間</a>
        <h4>HotPepper</h4>
        <form action="{% url 'scraping:download_excel' store='wananakame' media='hp'  %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wananakame' media='hp' %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wananakame' media='hp' %}">週間</a>
        <h4>食べログ</h4>
        <form action="{% url 'scraping:download_excel' store='wananakame' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>

        <form action="{% url 'scraping:chart' store='wananakame' media='tb' %}" method="GET">
            <select name="q">
                {% for span in span_list_wananakame %}
                <option value="{{span}}">{{span}}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </form>
        <a href="{% url 'scraping:chart_weekly' store='wananakame' media='tb' %}">週間</a>
        <form action="{% url 'scraping:chart_GMB' store='wananakame' %}" method="GET">
            <h4>GMB</h4>
            <input type="submit" value="GMB">
        </form>
    </div>


    {% endblock content %}

    <center>
        <a href="{% url 'scraping:index' %}" class="function-btn1"><button>TOP</button></a>
        <a href="{% url 'scraping:admin' %}" class="function-btn2"><button>管理画面</button></a>
    </center>

</body>

</html>