{% load static %}
<!DOCTYPE html>
<html lang="ja">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Restaurant-Media-Scraping</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


</head>


<body id="about" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    {% block head %}
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo_main">
                        <h2>Web媒体データ取得</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'scraping:dev' %}">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <img src="{% static " images/menu_icon.png" %}"></button>
                    </a>
                </div>
            </div>
        </div>
    </header>
    {% endblock head %}

    {% block content %}

    {% for store_name, store, span_list in store_list_for_index %}
    <div class="store">
        <h4>{{store_name}}</h4>
        {% for media_name, media in media_list_for_index %}
        <div class="elem">
            <h4>{{media_name}}</h4>
            <form action="{% url 'scraping:download_excel' store=store media=media %}" method="GET">
                <select name="q">
                    {% for span in span_list %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="submit">
            </form>

            <form action="{% url 'scraping:chart' store=store media=media %}" method="GET">
                <select name="q">
                    {% for span in span_list %}
                    <option value="{{span}}">{{span}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="daily_flg" value="True">
                <input type="submit">
            </form>
            <a href="{% url 'scraping:chart' store=store media=media %}">週間</a>
        </div>
        {% endfor %}

        <div class="elem">
            <form action="{% url 'scraping:chart' store=store media='gmb' %}" method="GET">
                <h4>GMB</h4>
                <input type="submit" value="GMB">
            </form>
        </div>
    </div>
    {% endfor %}

    {% endblock content %}

    <center>
        <a href="{% url 'scraping:index' %}" class="function-btn1"><button>TOP</button></a>
        <a href="{% url 'scraping:admin' %}" class="function-btn2"><button>管理画面</button></a>
    </center>

</body>

</html>